.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  max-width: 1800px;
  margin: auto;
}

.Content {
  flex-grow: 1;
}

.Sidebar {
  width: 200px;
  padding-top: 40px;
}
